<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pairing with Pat.com</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script
  </head>

  <body>
    <div class="ui attached stackable menu">
      <div class="ui container">
        <a class="item" href="<%= page_path(@conn, :index) %>">
          <i class="home icon"></i> Home
        </a>
      </div>
    </div>
    <div class="ui container">

      <% if get_flash(@conn, :info) do %>
        <div class="ui info message">
          <i class="close icon"></i>
          <div class="header">Info</div>
          <%= get_flash(@conn, :info) %>
        </div>
      <% end %>
      <% if get_flash(@conn, :error) do %>
        <div class="ui negative message">
          <i class="close icon"></i>
          <div class="header">Error</div>
          <%= get_flash(@conn, :error) %>
        </div>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
